<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New Message</title>
    <link rel="stylesheet" href="./styles.css">
  </head>
  <body>
    <h2>Create your new message</h2>
    <form method="POST" action="/new">
      <div>
        <label for="text">Message Text:</label>
        <input type="text" name="text" title="text" />
      </div>
      <div>
        <label for="text">User:</label>
        <input type="text" name="user" title="user" />
      </div>
      <div>
        <input type="submit" />
      </div>
    </form>
  </body>
</html>
